@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}





/* BASE STYLES */
body {
    background: rgb(12, 12, 12);
    font-family: 'Lato', monospace;
    /* Change height below */
    min-height: 1200px;
}





/* NORMAL STYLES */
.header {
    background: rgb(8, 8, 8);
    /* color below is what I want for the background or close */
    /* background: rgb(46, 46, 46); */
    /*place to put the position:fixed and width=100 to keep it at the top*/
    /*put padding-top the same length as the min height in header_content in body*/
    /*then put the top: 0 for the element to stick to top*/
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 18px;
}

.title {
    color: whitesmoke;
    font-size: 24px;
    padding: 12px 0px;
    text-align: center;
    transition: color 0.5s;
}
.title:hover {
    color: greenyellow
}


.nav__list {
    display: flex;
    column-gap: 25px;
}


.nav__link {
    color: rgb(255, 255, 255, 0.68);
    transition: all 0.3s;
    /*set position relative in response to position:absolute in the after pseudoclass*/
    position: relative;
}
.nav__link:hover,
.nav__link:focus {
    color: rgb(255, 255, 255)
}
.nav__link::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.32s ease-in-out;
    opacity: 0;
    /*pointer events prevents selection on the underline*/
    pointer-events: none;
}
.nav__link:hover::after {
    opacity: 1;
    width: 100%;
}

.dropdown__link {
    color: rgb(255, 255, 255, 0.68);
    transition: all 0.3s;
    /*set position relative in response to position:absolute in the after pseudoclass*/
    position: relative;
}
.dropdown__link:hover,
.dropdown__link:focus {
    color: rgb(255, 255, 255)
}
.dropdown__link::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.32s ease-in-out;
    opacity: 0;
    /*pointer events prevents selection on the underline*/
    pointer-events: none;
}
.dropdown__link:hover::after {
    opacity: 1;
    width: 100%;
}

.dropdown {
    position: relative;
}
/* .dropdown:active .dropdown__list{
    display: block;
} */

.dropdown__list {
    background: rgb(9, 9, 9);
    position: absolute;
    left: 0;
    top: 125%;
    min-width: max-content;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
    font-size: 17px;
    opacity: 0;
    pointer-events: none;
    /* display: none; */
    transition: all 200ms ease-in-out;
    transform: translateY(-10px);
}
.dropdown.active .dropdown__list {
    opacity: 1;
    pointer-events: auto;
    /* display: block; */
    
    transform: translateY(0);
}

/* .dropdown.active > .dropdown__link, .dropdown__link:hover */

.dropdown__item {
    padding: 8px 12px;
    cursor: pointer;
    color: rgb(255, 255, 255, 0.68);
}
.dropdown__item:hover {
    background-color: rgb(145, 209, 110);
    color: rgb(0, 0, 0);
    transition: all 0.4s;
}

/* .dropdown__sublink {
} */



.page_name {
    color: rgb(165, 208, 79);
    font-size: 22px;
    padding: 40px 30px 0px;
    text-align: center;
}




.grid-container {
    /* adding for visibility */
    /* background-color: bisque; */
    display: grid;
    max-width: 1080px;
    margin: 150px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 250px);
    gap: 1em;
    grid-template-areas: 
    "photo-1 photo-1 photo-2 photo-2 photo-3"
    "photo-1 photo-1 photo-4 photo-5 photo-5"
    "photo-6 photo-7 photo-8 photo-8 photo-8"
    "photo-9 photo-10 photo-10 photo-10 photo-11"
    "photo-9 photo-12 photo-13 photo-13 photo-13"
    "photo-14 photo-14 photo-13 photo-13 photo-13"
    "photo-15 photo-16 photo-13 photo-13 photo-13"
    ;
}
/* orientation for the events page */
.grid-container_events {
    /* adding for visibility */
    /* background-color: bisque; */
    display: grid;
    max-width: 1080px;
    margin: 70px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(9, 250px);
    gap: 1em;
    grid-template-areas: 
    "photo-1 photo-1 photo-1 photo-2 photo-2"
    "photo-1 photo-1 photo-1 photo-5 photo-5"
    "photo-11 photo-8 photo-8 photo-5 photo-5"
    "photo-9 photo-9 photo-12 photo-12 photo-6"
    "photo-9 photo-9 photo-16 photo-14 photo-14"
    "photo-3 photo-21 photo-21 photo-13 photo-13"
    "photo-15 photo-15 photo-17 photo-13 photo-13"
    "photo-10 photo-18 photo-18 photo-4 photo-20"
    "photo-7 photo-7 photo-19 photo-19 photo-19"
    ;
}
/* orientation for the portraits page */
.grid-container_portraits {
    /* adding for visibility */
    /* background-color: bisque; */
    display: grid;
    max-width: 1080px;
    margin: 70px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 250px);
    gap: 1em;
    grid-template-areas: 
    "photo-4 photo-4 photo-4 photo-4 photo-4"
    "photo-4 photo-4 photo-4 photo-4 photo-4"
    "photo-2 photo-3 photo-1 photo-6 photo-6"
    "photo-2 photo-3 photo-5 photo-6 photo-6"
    "photo-12 photo-12 photo-8 photo-8 photo-7"
    "photo-12 photo-12 photo-11 photo-10 photo-10"
    "photo-14 photo-13 photo-11 photo-10 photo-10"
    "photo-9 photo-9 photo-11 photo-10 photo-10"
    "photo-9 photo-9 photo-11 photo-16 photo-16"
    "photo-15 photo-15 photo-15 photo-16 photo-16"
    ;
}
/* orientation for the personal page */
.grid-container_personal {
    /* adding for visibility */
    /* background-color: bisque; */
    display: grid;
    max-width: 1080px;
    margin: 70px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 250px);
    gap: 1em;
    grid-template-areas: 
    "photo-1 photo-1 photo-6 photo-3 photo-3"
    "photo-1 photo-1 photo-6 photo-3 photo-3"
    "photo-1 photo-1 photo-6 photo-8 photo-8"
    "photo-2 photo-5 photo-4 photo-4 photo-4"
    "photo-2 photo-7 photo-7 photo-7 photo-9"
    "photo-10 photo-10 photo-11 photo-11 photo-9"
    "photo-12 photo-12 photo-11 photo-11 photo-9"
    ;
}
/* orientation for the about page */
.grid-container_about {
    /* adding for visibility */
    /* background-color: bisque; */
    color: whitesmoke;
    display: grid;
    max-width: 1080px;
    margin: 70px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
    gap: 1em;
    grid-template-areas: 
    "item-1 item-2"
    ;
}
/* orientation for the contact page */
.grid-container_contact {
    /* adding for visibility */
    /* background-color: bisque; */
    display: grid;
    max-width: 1080px;
    margin: 150px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
    gap: 1em;
    grid-template-areas: 
    "item-1 item-2"
    ;
}

.photo {
    display: block;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* put these in to test for visibility */
    /* background-color: rgb(190, 148, 230); */
    /* padding: 20px; */
    /* border: 2px solid purple; */
}
.photo:hover {
    transform: scale(1.04);
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.about {
    /* background-color: rgb(190, 148, 230); */
    display: block;
    text-align: center;
    align-content: center;
    max-height: max-content;
    word-wrap: normal;
    padding: 35px;
    /* border: 2px solid purple; */
    /* change font later */
    font-family: sans-serif;
}
.about h1 {
    font-size: normal;
}
.about p {
    font-size: larger;
}
.profile {
    /* border: 5px solid blue; */
    height: 100%;
    width: 100%;
    position: relative;
}
.profile > .photo {
    /* background-color: rgb(0, 0, 0); */
    /* border: 10px solid purple; */
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*width and height get shifted back half*/
    opacity: 0.6;
    transition: opacity 0.8s;
}
.profile > .photo:hover {
    opacity: 0.8;
}

.contact_photo {
    /* border: 5px solid blue; */
    height: 100%;
    width: 100%;
    position: relative;
}
.contact_photo > .photo {
    /* background-color: rgb(0, 0, 0); */
    /* border: 10px solid purple; */
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*width and height get shifted back half*/
}
.contact_photo img {
    /* use below for color transition upon hover */
    filter: grayscale(85%);
    transition: all 0.8s;
}
.contact_photo img:hover {
    /* use below for color transition upon hover */
    filter: grayscale(0);
}

.contact_form {
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 18px;
    padding: 6px;
    color: whitesmoke;
    /* modify percentage here */
    /* align-content: end;
    transform: translate(0,-25%); */
    display: block;
    align-content: center;
}
.contact_form .form__paragraph {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.contact_form .contact {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    /* max-height: max-content;
    width: 100%; */
    gap: 8px;
}
.contact input,
.contact textarea {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: rgb(102, 102, 102);
    margin-bottom: 20px;
    resize: none;
    transition: background-color 0.4s;
}
.contact input:focus,
.contact textarea:focus{
    background-color: white;
}
form .button {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    /* font-family: ; */
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    /* use below for color transition for the button */
    background-color: rgb(240, 255, 240);
    color: rgb(22, 22, 22);
    cursor: pointer;
    transition: all 0.4s;
}
form .button:hover {
    background-color: rgb(0, 114, 0);
    color: white;
}
form .button:active {
    background-color: rgb(0, 20, 0);
}







.footer {
    /*change how position is shown here*/
    position: initial;
    margin-top: 200px;
    /* uncomment and comment out the footer position here */
    /* bottom: 0; */
    background-color: rgb(8, 8, 8);
    width: 100%;
    padding: 35px 10px 35px;
}
.footer__content {
    color: rgb(215, 215, 215);
}
.socialicons {
    display: flex;
    justify-content: center;
    /* column-gap: 10px; */
}

.socialicons__link {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    /* put another color attribute for transition reasons */
    color: rgb(215, 215, 215);
    margin: 7px;
    border-radius: 50%;
    transition: all 0.55s ease;
}
.socialicons__link > i {
    font-size: 1.5em;
    opacity: 0.8;
}
.socialicons__link:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(161, 255, 110);
}

.acknowledgements {
    padding: 20px 20px 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}






/* Carousel modal styles */
#carousel-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    flex-direction: column;
}
#carousel-modal.hidden {
    display: none;
}
#carousel-image {
    max-width: 90%;
    max-height: 80vh;
    padding: 6px 30px;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

#close-carousel {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 3rem;
    color: rgb(255, 255, 255, 0.6);
    cursor: pointer;
    z-index: 2001;
    transition: all 0.4s ease-in-out;
}
#close-carousel:hover {
    color: rgb(255, 255, 255, 1);
}
#prev, #next {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    background: none;
    color: rgb(255, 255, 255, 0.6);
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    transition: color 0.4s ease-in-out;
}
#prev {
    left: 15px; 
}
#next { 
    right: 15px; 
}
#prev:hover,
#next:hover {
    color: rgb(255, 255, 255, 1);
}







/* MEDIA QUERIES */

@media (max-width: 1080px) {
    .grid-container {
        /* adding for visibility */
        max-width: 800px;
        margin: 150px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(8, 230px);
        grid-template-areas: 
        "photo-2 photo-2 photo-1 photo-1"
        "photo-3 photo-4 photo-1 photo-1"
        "photo-8 photo-8 photo-8 photo-6"
        "photo-9 photo-7 photo-5 photo-5"
        "photo-9 photo-10 photo-10 photo-10"
        "photo-9 photo-11 photo-13 photo-13"
        "photo-15 photo-16 photo-13 photo-13"
        "photo-12 photo-12 photo-14 photo-14"
        ;
    }
    .grid-container_events {
        /* adding for visibility */
        max-width: 800px;
        margin: 70px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(11, 230px);
        grid-template-areas: 
        "photo-2 photo-2 photo-1 photo-1"
        "photo-3 photo-16 photo-1 photo-1"
        "photo-8 photo-8 photo-8 photo-5"
        "photo-9 photo-6 photo-7 photo-7"
        "photo-9 photo-12 photo-12 photo-12"
        "photo-15 photo-15 photo-11 photo-11"
        "photo-13 photo-13 photo-11 photo-11"
        "photo-14 photo-19 photo-19 photo-19"
        "photo-20 photo-20 photo-18 photo-18"
        "photo-17 photo-17 photo-10 photo-4"
        "photo-17 photo-17 photo-21 photo-21"
        ;
    }
    .grid-container_portraits {
        /* adding for visibility */
        max-width: 800px;
        margin: 70px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(10, 230px);
        grid-template-areas: 
        "photo-4 photo-4 photo-4 photo-4"
        "photo-4 photo-4 photo-4 photo-4"
        "photo-3 photo-3 photo-1 photo-2"
        "photo-3 photo-3 photo-8 photo-6"
        "photo-9 photo-7 photo-5 photo-6"
        "photo-9 photo-10 photo-10 photo-16"
        "photo-12 photo-10 photo-10 photo-16"
        "photo-12 photo-11 photo-14 photo-14"
        "photo-15 photo-15 photo-14 photo-14"
        "photo-15 photo-15 photo-13 photo-13"
        ;
    }
    .grid-container_personal {
        /* adding for visibility */
        max-width: 800px;
        margin: 70px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(8, 230px);
        grid-template-areas: 
        "photo-3 photo-3 photo-8 photo-8"
        "photo-3 photo-3 photo-2 photo-1"
        "photo-11 photo-11 photo-2 photo-1"
        "photo-11 photo-11 photo-6 photo-1"
        "photo-9 photo-7 photo-6 photo-5"
        "photo-9 photo-7 photo-6 photo-5"
        "photo-9 photo-10 photo-10 photo-10"
        "photo-12 photo-12 photo-4 photo-4"
        ;
    }
    .footer {
        margin-top: 150px;
    }
}

@media (max-width: 800px) {
    .grid-container {
        /* adding for visibility */
        max-width: 540px;
        margin: 100px auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 214px);
        grid-template-areas: 
        "photo-2 photo-2 photo-3"
        "photo-4 photo-1 photo-1"
        "photo-6 photo-1 photo-1"
        "photo-8 photo-8 photo-8"
        "photo-5 photo-5 photo-7"
        "photo-9 photo-12 photo-12"
        "photo-9 photo-11 photo-15"
        "photo-10 photo-10 photo-13"
        "photo-16 photo-14 photo-14"
        ;
    }
    .grid-container_events {
        /* adding for visibility */
        max-width: 540px;
        margin: 70px auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, 214px);
        grid-template-areas: 
        "photo-2 photo-2 photo-1"
        "photo-10 photo-5 photo-5"
        "photo-3 photo-5 photo-5"
        "photo-8 photo-8 photo-8"
        "photo-7 photo-7 photo-4"
        "photo-9 photo-12 photo-12"
        "photo-9 photo-11 photo-6"
        "photo-13 photo-15 photo-15"
        "photo-14 photo-14 photo-17"
        "photo-16 photo-18 photo-18"
        "photo-19 photo-19 photo-19"
        "photo-20 photo-21 photo-21"
        ;
    }
    .grid-container_portraits {
        /* adding for visibility */
        max-width: 540px;
        margin: 70px auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, 214px);
        grid-template-areas: 
        "photo-4 photo-4 photo-4"
        "photo-4 photo-4 photo-4"
        "photo-3 photo-1 photo-2"
        "photo-3 photo-6 photo-2"
        "photo-8 photo-6 photo-7"
        "photo-8 photo-5 photo-12"
        "photo-9 photo-9 photo-12"
        "photo-9 photo-9 photo-15"
        "photo-10 photo-11 photo-15"
        "photo-10 photo-11 photo-13"
        "photo-16 photo-11 photo-14"
        "photo-16 photo-11 photo-14"
        ;
    }
    .grid-container_personal {
        /* adding for visibility */
        max-width: 540px;
        margin: 70px auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 214px);
        grid-template-areas: 
        "photo-11 photo-3 photo-3"
        "photo-2 photo-3 photo-3"
        "photo-2 photo-4 photo-1"
        "photo-8 photo-8 photo-1"
        "photo-12 photo-12 photo-12"
        "photo-5 photo-7 photo-7"
        "photo-6 photo-6 photo-9"
        "photo-6 photo-6 photo-9"
        "photo-10 photo-10 photo-10"
        ;
    }
    .grid-container_about {
        max-width: 540px;
        margin: 70px auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 700px);
        grid-template-areas: 
        "item-2"
        "item-1"
        ;
    }
    .grid-container_contact {
        max-width: 540px;
        margin: 100px auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 600px);
        grid-template-areas: 
        "item-1"
        "item-2"
        ;
    }

    .footer {
        margin-top: 100px;
    }
}

/* smartphone length */
@media (max-width: 450px) {
    .grid-container {
        /* adding for visibility */
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 145px);
    }
    .grid-container_events, .grid-container_portraits {
        /* adding for visibility */
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, 145px);
    }
    .grid-container_personal {
        /* adding for visibility */
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 145px);
    }
    .grid-container_about {
        max-width: 95%;
        grid-template-rows: repeat(2, 600px);
    }
    .grid-container_contact {
        max-width: 95%;
        grid-template-rows: repeat(2, 500px);
        gap: 30px;
    }
    .about h1 {
    font-size: 24px;
    }
    .about p {
        font-size: 16px;
    }
}

@media (max-width: 560px) {
    .header__content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 15px;
        position: relative;
    }

    .nav__list {
        column-gap: 18px;
    }

    .dropdown {
        position: initial;
    }

    .dropdown__list {
        width: 100%;
        top: 100%;
        text-align: center;
    }
}



