@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}





/* BASE STYLES */
body {
    background-color: aliceblue;
    font-family: 'Lato', monospace;
    /* Change height below */
    min-height: 1500px;
}





/* NORMAL STYLES */
.header {
    background: rgb(46, 46, 46);
    /*place to put the position:fixed and width=100 to keep it at the top*/
    /*put padding-top the same length as the min height in header_content in body*/
    /*then put the top: 0 for the element to stick to top*/
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 16px;
}

.title {
    color: aqua;
    font-size: 30px;
}

/* .nav {

} */

.nav__list {
    display: flex;
    column-gap: 25px;
}

/* .nav__item {

} */

.nav__link {
    color: rgb(255, 255, 255, 0.68);
    transition: all 0.3s;
    /*set position relative in response to position:absolute in the after pseudoclass*/
    position: relative;
}
.nav__link:hover,
.nav__link:focus {
    color: rgb(255, 255, 255)
}
.nav__link::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.32s ease-in-out;
    opacity: 0;
    /*pointer events prevents selection on the underline*/
    pointer-events: none;
}
.nav__link:hover::after {
    opacity: 1;
    width: 100%;
}

.dropdown__link {
    color: rgb(255, 255, 255, 0.68);
    transition: all 0.3s;
    /*set position relative in response to position:absolute in the after pseudoclass*/
    position: relative;
}
.dropdown__link:hover,
.dropdown__link:focus {
    color: rgb(255, 255, 255)
}
.dropdown__link::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.32s ease-in-out;
    opacity: 0;
    /*pointer events prevents selection on the underline*/
    pointer-events: none;
}
.dropdown__link:hover::after {
    opacity: 1;
    width: 100%;
}

.dropdown {
    position: relative;
}
/* .dropdown:active .dropdown__list{
    display: block;
} */

.dropdown__list {
    background: rgb(46, 46, 46);
    position: absolute;
    left: 0;
    top: 125%;
    min-width: max-content;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    /* display: none; */
    transition: all 200ms ease-in-out;
    transform: translateY(-10px);
}
.dropdown.active .dropdown__list {
    opacity: 1;
    pointer-events: auto;
    /* display: block; */
    
    transform: translateY(0);
}

/* .dropdown.active > .dropdown__link, .dropdown__link:hover */

.dropdown__item {
    padding: 8px 12px;
    cursor: pointer;
    color: rgb(255, 255, 255, 0.68);
}
.dropdown__item:hover {
    background-color: rgb(145, 209, 110);
    color: black;
    transition: all 0.4s;
}

/* .dropdown__sublink {
} */



/* failedcontainer */
/* .grid-containerFAILEDPROJECT {
    background-color: bisque;
    display: grid;
    max-width: 960px;
    margin: 150px auto;
    grid-auto-columns: auto;
    grid-auto-rows: 213px;
    gap: 1em;
    grid-template-areas: 
    "photo-1 photo-1 photo-2 photo-2 photo-3"
    "photo-1 photo-1 photo-4 photo-5 photo-5"
    "photo-6 photo-7 photo-7 photo-8 photo-8"
    "photo-9 photo-7 photo-7 photo-10 photo-11"
    "photo-12 photo-12 photo-13 photo-13 photo-13"
    "photo-14 photo-14 photo-13 photo-13 photo-13"
    "photo-15 photo-16 photo-13 photo-13 photo-13";
} */
/* class name intentionally wrong to point out grid specs */
.grid-container {
    /* adding for visibility */
    background-color: bisque;
    display: grid;
    max-width: 1080px;
    margin: 150px auto;
    /* grid-template-columns: 333px 333px 333px; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 250px);
    gap: 1em;
    grid-template-areas: 
    "photo-1 photo-1 photo-2 photo-2 photo-3"
    "photo-1 photo-1 photo-4 photo-5 photo-5"
    "photo-6 photo-7 photo-8 photo-8 photo-8"
    "photo-9 photo-10 photo-10 photo-10 photo-11"
    "photo-9 photo-12 photo-13 photo-13 photo-13"
    "photo-14 photo-14 photo-13 photo-13 photo-13"
    "photo-15 photo-16 photo-13 photo-13 photo-13";
}

.photo {
    background-color: rgb(190, 148, 230);
    text-align: center;
    /* padding: 20px; */
    border: 2px solid purple;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}





.footer {
    /*change how position is shown here*/
    position: initial;
    margin-top: 200px;
    /* uncomment and comment out the footer position here */
    /* bottom: 0; */
    background-color: rgb(20, 20, 20);
    width: 100%;
    padding: 35px 10px 35px;
}
.footer__content {
    color: rgb(215, 215, 215);
}
.socialicons {
    display: flex;
    justify-content: center;
    /* column-gap: 10px; */
}

.socialicons__link {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    /* put another color attribute for transition reasons */
    color: rgb(215, 215, 215);
    margin: 7px;
    border-radius: 50%;
    transition: all 0.55s ease;
}
.socialicons__link > i {
    font-size: 1.5em;
    opacity: 0.8;
}
.socialicons__link:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(161, 255, 110);
}

.acknowledgements {
    padding: 20px 20px 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}





/* MEDIA QUERIES */

@media (max-width: 1080px) {
    .grid-container {
        /* adding for visibility */
        max-width: 800px;
        margin: 150px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(8, 230px);
        grid-template-areas: 
        "photo-2 photo-2 photo-1 photo-1"
        "photo-3 photo-4 photo-1 photo-1"
        "photo-8 photo-8 photo-8 photo-6"
        "photo-9 photo-7 photo-5 photo-5"
        "photo-9 photo-10 photo-10 photo-10"
        "photo-9 photo-11 photo-13 photo-13"
        "photo-15 photo-16 photo-13 photo-13"
        "photo-12 photo-12 photo-14 photo-14";
    }

    .footer {
        margin-top: 150px;
    }
}

@media (max-width: 800px) {
    .grid-container {
        /* adding for visibility */
        max-width: 540px;
        margin: 100px auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 214px);
        grid-template-areas: 
        "photo-2 photo-2 photo-3"
        "photo-4 photo-1 photo-1"
        "photo-6 photo-1 photo-1"
        "photo-8 photo-8 photo-8"
        "photo-5 photo-5 photo-7"
        "photo-9 photo-12 photo-12"
        "photo-9 photo-11 photo-15"
        "photo-10 photo-10 photo-13"
        "photo-16 photo-14 photo-14";
    }

    .footer {
        margin-top: 100px;
    }
}

@media (max-width: 450px) {
    .grid-container {
        /* adding for visibility */
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 145px);
    }
}

@media (max-width: 560px) {
    .header__content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 15px;
        position: relative;
    }

    .nav__list {
        column-gap: 18px;
    }

    .dropdown {
        position: initial;
    }

    .dropdown__list {
        width: 100%;
        top: 100%;
        text-align: center;
    }
}



